@import "src/main-styling/themes";

.inputWrap {
  @extend %h4Font;
  display: flex;
  justify-content: center;
  width: 85px;

  &.noLabel {
    width: auto;
  }

  .input[type="checkbox"] {
    display: none;
  }

  .input[type="checkbox"] + label {
    display: inline-block;
    height: 20px;
    width: 32px;
    position: relative;
    background: $catskillWhite;
    box-shadow: 2px 2px 4px $geyser, -2px -2px 4px #ffffff;
    border-radius: 4px;
  }

  .input[type="checkbox"] + label,
  .input[type="checkbox"] + label i {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .input[type="checkbox"] + label:before,
  .input[type="checkbox"] + label:after,
  .input[type="checkbox"] + label i {
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center;
    cursor: pointer;
  }
  .input[type="checkbox"] + label i {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    background: $baliHai;
  }

  .input[type="checkbox"]:checked + label i {
    left: 50%;
    background: $lightRed;
  }

  .input[type="checkbox"]:not(:checked) + label:before {
    color: $baliHai;
  }
  .input[type="checkbox"]:checked + label:after {
    color: $lightRed;
  }

  label {
    margin-bottom: 0;
  }

  &.withLabel {
    .input[type="checkbox"] + label:before {
      position: absolute;
      left: -25px;
      content: attr(data-text-false);
    }

    .input[type="checkbox"] + label:after {
      position: absolute;
      right: -22px;
      content: attr(data-text-true);
    }
  }
}
