$baliHai: #8e9cae;
$brightGray: #3c3e4b;
$lightRed: #f46663;
$whisper: #e7e9f3;
$athensGray: #eef0f3;
$catskillWhite: #f0f3f8;
$stormGray: #646788;
$mystic: #dee2ea;
$riverBed: #465262;
$cadetBlue: #b1b5c8;
$cadetBlueSecond: #acb0c6;
$ghost: #c4c7d6;
$manatee: #878daa;
$manateeSecond: #8c929e;

$darkBlue: #0a1930;
$white: #c2cee0;
//http://chir.ag/projects/name-that-color
