@import "src/main-styling/themes";

@import "src/main-styling/colors";

.usersList {
  > div {
    margin-bottom: 16px;
  }
}
.resultsCount {
  margin-bottom: 16px;
  p {
    font-size: 24px;
    font-weight: bold;
  }
  span {
    font-weight: 500;
    color: $lightRed;
  }
}
